body,ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-size: 12px;
}
.clearfix:after{
  content:'';
  display:block;
  clear:both;
}
.SubCategotyBox li{
  float: left;
  width: 150px;
  line-height: 20px;
}
a{
  text-decoration: none;
}
a:hover{
  color: #F50;
}
.SubCategotyBox{
  width: 450px;
  padding: 10px 10px 30px 10px;
  margin:10px auto;
  position:relative;
}
.btn{
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
}
span{
  background-image: url(../img/down.gif);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 15px;

}
.showmore{
  position:absolute;
  left: 172px;
  bottom: 5px;
}
.promoted a{
  color: #f50;
}
